@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");
@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0e0e0e;
        --foreground: #ededed;
    }
}

html {
    height: 100vh;
}

body {
    background: var(--background);
    color: var(--foreground);
    height: 100vh;
    overflow: hidden;
}

.maskimage {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: padding-box;

    background-attachment: fixed;
}

.mainPageImage {
    -webkit-mask-image: linear-gradient(45deg,#ffffff 25%,rgba(255, 255, 255, 0.2) 50%,#ffffff 75%);
    mask-image: linear-gradient(45deg,#ffffff 25%,rgba(255, 255, 255, 0.2) 50%,#ffffff 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
}

.mainPageImage:hover {
    transition: mask-position 2s ease,-webkit-mask-position 1s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}
